{% extends 'pages/base.html' %}

{% block title %} {{title}} {% endblock title %}

{% block pageName %} {{page_name}} {% endblock pageName %}

{% block main %}

    <main>
        <section>
            <h2>About Us</h2>
            <p>Welcome to our Company website. We specialize</p>
        </section>

        <section>
            <h2>Our Mission</h2>
            <p>Our Mission is to help small businesses grow....</p>
        </section>

        <section>
            <h2>Our Team</h2>
            <p>Introduce your team members to include photos, names, and a short description of their roles</p>
        </section>

        <section>
            <h2>Our History</h2>
            <p>Provide a brief history of your Company</p>
        </section>
    </main>
{%endblock main %}