{% extends 'pages/base.html' %}

{% block title %} {{title}} {% endblock title %}

{% block pageName %} {{page_name}} {% endblock pageName %}

{% block main %}
    <main>
        <section>
            <h2>Service One</h2>
            <p>Describe your first Service here. Explain what it entails, who it is for, and how it benefits customers</p>
        </section>

        <section>
            <h2>Service Two</h2>
            <p>Details about your second service. What makes it unique? How does it address your customers' needs?</p>
        </section>

        <section>
            <h2>Service Three</h2>
            <p>Information about your third service.</p>
        </section>
    </main>
{% endblock main %}

